@model MVCWebsite.model.ClientsModel

@{
    ViewBag.Title = "Create";
}

@section css
{
    <link rel="stylesheet" type="text/css" href="~/styles/contact.css">
    <link rel="stylesheet" type="text/css" href="~/styles/contact_responsive.css">

}
@section home
{<div class="home">
        <div class="background_image" style="background-image:url(../../images/contact.jpg)"></div>
    </div>

}
 <div class="col text-center">
     <h2 class="section_title">Register</h2></div>
     <div class="col-lg-12">
         <div class="contact_form_container">
             @using (Html.BeginForm())
             {
                 @Html.AntiForgeryToken()

                 <div class="form-horizontal">
                     @*<h4></h4>*@
                     <hr />
                     @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                     <div class="form-group">
                         @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "contact_input contact_input_name inpt" } })
                             @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "contact_input contact_input_email inpt" } })
                             @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "contact_input contact_input_name inpt" } })
                             @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "contact_input contact_input_name inpt" } })
                             @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         @Html.LabelFor(model => model.MobileNo, htmlAttributes: new { @class = "control-label col-md-2" })
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.MobileNo, new { htmlAttributes = new { @class = "contact_input contact_input_name inpt" } })
                             @Html.ValidationMessageFor(model => model.MobileNo, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "contact_input contact_input_name inpt" } })
                             @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "contact_input contact_input_name inpt" } })
                             @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-2" })
                         <div class="col-md-10">
                             @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "contact_input contact_input_name inpt" } })
                             @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                         </div>
                     </div>

                     <div class="form-group">
                         <div class="col-md-offset-2 col-md-10">
                             <input class="contact_button" type="submit" value="Submit" />
                         </div>
                     </div>
                 </div>
             }
         </div>
     </div>

     @section scripts
{

         <script src="~/js/jquery-3.2.1.min.js"></script>
         <script src="~/styles/bootstrap4/popper.js"></script>
         <script src="~/styles/bootstrap4/bootstrap.min.js"></script>
         <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
         <script src="~/plugins/easing/easing.js"></script>
         <script src="~/plugins/parallax-js-master/parallax.min.js"></script>
         <script src="~/https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCIwF204lFZg1y4kPSIhKaHEXMLYxxuMhA"></script>
         <script src="~/js/contact.js"></script>
     }
